<!doctype html>
<html lang="en">
<head>
<%- include('head')%>
</head>
<!-- Inico-->
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Cargando...</span>
    </div>
  </div>

  <div class="site-wrap"  id="home-section">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
  </div>

<!--NAV-->

<%- include('header')%>

<!--NAV-->

<!-- Noticias-->
    <div class="site-section" id="blog-section">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center mb-5">
            <div class="block-heading-1" data-aos="fade-up" data-aos-delay="">
              <span>enterate de las últimas</span>
              <h2>noticias</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div>
              <a href="single.html" class="mb-4 d-block"><img src="images\image.png" alt="Image" class="img-fluid rounded"></a>
              <h2><a href="single.html">nuevos convenios</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">29 octubre, 2020</span> By <a href="single.html" class="by">James Cooper</a></p>
              <p>Anunciamos nuevos convenios y agradecemos a KHALIK Estudio Creativo, FOR THE WIN Ropa de Básquetbol
                 y MEGA PHARMA Farmacia por sumarse a lxs entrenadorxs de APLATEBA. Enterate los benebicios de cada
                 conveio</p>
              <p><a href="single.html">Seguir leyendo</a></p>
            </div>
          </div>
          <div class="col-md-4 col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div>
              <a href="single.html" class="mb-4 d-block"><img src="images\entrenadores-reconocimientocrop.jpg" alt="Image" class="img-fluid rounded" hight="20px"></a>
              <h2><a href="single.html">Entrenadores Platenses en la Selección Femenina</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">14 Octubre, 2020</span> por <a href="single.html" class="by">Gustavo Freytes</a></p>
              <p>Desde APLATEBA, queremos reconocer a los entrenadores Agustin Lukac e Ignacio Navazzo, ambos formados y
                 actualmente trabajando en clubes de la Ciudad, por incorporarse al Cuepro Técnico de la Selección Argentina
                 de Básquetbol Femenina.</p>
              <p><a href="single.html">Seguir leyendo</a></p>
            </div>
          </div>
          <div class="col-md-4 col-lg-4" data-aos="fade-up" data-aos-delay="">
            <div>
              <a href="single.html" class="mb-4 d-block"><img src="images\asambleageneral.jpeg" alt="Image" class="img-fluid rounded"></a>
              <h2><a href="single.html">Asamblea General</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">10 Octubre, 2020</span> por <a href="single.html" class="by">Gustavo Freytes</a></p>
              <p>Se invita a participar este sábado 24/10 a las 19hs a una Asamblea General. La misma se llevará a cabo por la
                 plataforma ZOOM.</p>
              <p><a href="single.html">Seguir leyendo</a></p>
            </div>
          </div>
          <div class="col-md-4 col-lg-4" data-aos="fade-up" data-aos-delay="">
            <div>
              <a href="single.html" class="mb-4 d-block"><img src="images\asambleageneral.jpeg" alt="Image" class="img-fluid rounded"></a>
              <h2><a href="single.html">Asamblea General</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">10 Octubre, 2020</span> por <a href="single.html" class="by">Gustavo Freytes</a></p>
              <p>Se invita a participar este sábado 24/10 a las 19hs a una Asamblea General. La misma se llevará a cabo por la
                 plataforma ZOOM.</p>
              <p><a href="single.html">Seguir leyendo</a></p>
            </div>
          </div>
          <div class="col-md-4 col-lg-4" data-aos="fade-up" data-aos-delay="">
            <div>
              <a href="single.html" class="mb-4 d-block"><img src="images\asambleageneral.jpeg" alt="Image" class="img-fluid rounded"></a>
              <h2><a href="single.html">Asamblea General</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">10 Octubre, 2020</span> por <a href="single.html" class="by">Gustavo Freytes</a></p>
              <p>Se invita a participar este sábado 24/10 a las 19hs a una Asamblea General. La misma se llevará a cabo por la
                 plataforma ZOOM.</p>
              <p><a href="single.html">Seguir leyendo</a></p>
            </div>
          </div>
          <div class="col-md-4 col-lg-4" data-aos="fade-up" data-aos-delay="">
            <div>
              <a href="single.html" class="mb-4 d-block"><img src="images\asambleageneral.jpeg" alt="Image" class="img-fluid rounded"></a>
              <h2><a href="single.html">Asamblea General</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">10 Octubre, 2020</span> por <a href="single.html" class="by">Gustavo Freytes</a></p>
              <p>Se invita a participar este sábado 24/10 a las 19hs a una Asamblea General. La misma se llevará a cabo por la
                 plataforma ZOOM.</p>
              <p><a href="single.html">Seguir leyendo</a></p>
            </div>
          </div>
          <div class="col-md-4 col-lg-4" data-aos="fade-up" data-aos-delay="">
            <div>
              <a href="single.html" class="mb-4 d-block"><img src="images\asambleageneral.jpeg" alt="Image" class="img-fluid rounded"></a>
              <h2><a href="single.html">Asamblea General</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">10 Octubre, 2020</span> por <a href="single.html" class="by">Gustavo Freytes</a></p>
              <p>Se invita a participar este sábado 24/10 a las 19hs a una Asamblea General. La misma se llevará a cabo por la
                 plataforma ZOOM.</p>
              <p><a href="single.html">Seguir leyendo</a></p>
            </div>
          </div>
          <div class="col-md-4 col-lg-4" data-aos="fade-up" data-aos-delay="">
            <div>
              <a href="single.html" class="mb-4 d-block"><img src="images\asambleageneral.jpeg" alt="Image" class="img-fluid rounded"></a>
              <h2><a href="single.html">Asamblea General</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">10 Octubre, 2020</span> por <a href="single.html" class="by">Gustavo Freytes</a></p>
              <p>Se invita a participar este sábado 24/10 a las 19hs a una Asamblea General. La misma se llevará a cabo por la
                 plataforma ZOOM.</p>
              <p><a href="single.html">Seguir leyendo</a></p>
            </div>
          </div>
          <div class="col-md-4 col-lg-4" data-aos="fade-up" data-aos-delay="">
            <div>
              <a href="single.html" class="mb-4 d-block"><img src="images\asambleageneral.jpeg" alt="Image" class="img-fluid rounded"></a>
              <h2><a href="single.html">Asamblea General</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">10 Octubre, 2020</span> por <a href="single.html" class="by">Gustavo Freytes</a></p>
              <p>Se invita a participar este sábado 24/10 a las 19hs a una Asamblea General. La misma se llevará a cabo por la
                 plataforma ZOOM.</p>
              <p><a href="/single">Seguir leyendo</a></p>
            </div>
          </div>
          <div class="col-md-4 col-lg-4" data-aos="fade-up" data-aos-delay="">
            <div>
              <a href="/single" class="mb-4 d-block"><img src="images\asambleageneral.jpeg" alt="Image" class="img-fluid rounded"></a>
              <h2><a href="/single">Asamblea General</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">10 Octubre, 2020</span> por <a href="single.html" class="by">Gustavo Freytes</a></p>
              <p>Se invita a participar este sábado 24/10 a las 19hs a una Asamblea General. La misma se llevará a cabo por la
                 plataforma ZOOM.</p>
              <p><a href="/single">Seguir leyendo</a></p>
            </div>
          </div>
          <div class="col-md-4 col-lg-4" data-aos="fade-up" data-aos-delay="">
            <div>
              <a href="/single" class="mb-4 d-block"><img src="images\asambleageneral.jpeg" alt="Image" class="img-fluid rounded"></a>
              <h2><a href="/single">Asamblea General</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">10 Octubre, 2020</span> por <a href="single.html" class="by">Gustavo Freytes</a></p>
              <p>Se invita a participar este sábado 24/10 a las 19hs a una Asamblea General. La misma se llevará a cabo por la
                 plataforma ZOOM.</p>
              <p><a href="/single">Seguir leyendo</a></p>
            </div>
          </div>
          <div class="col-md-4 col-lg-4" data-aos="fade-up" data-aos-delay="">
            <div>
              <a href="/single" class="mb-4 d-block"><img src="images\asambleageneral.jpeg" alt="Image" class="img-fluid rounded"></a>
              <h2><a href="/single">Asamblea General</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">10 Octubre, 2020</span> por <a href="single.html" class="by">Gustavo Freytes</a></p>
              <p>Se invita a participar este sábado 24/10 a las 19hs a una Asamblea General. La misma se llevará a cabo por la
                 plataforma ZOOM.</p>
              <p><a href="/single">Seguir leyendo</a></p>
            </div>
          </div>
          <div class="col text-center mt-4" data-aos="fade-up" data-aos-delay="100">
            <p><a href="#" class="btn btn-primary text-white">Ver más noticias</a></p>
          </div>
        </div>
      </div>
    </div>
<!-- Noticias-->

<!-- Contacto y Asociate-->
<%- include('contacto')%>
<!-- Contacto y Asociate-->

<!-- Footer-->
<%- include('footer')%>
<!-- Footer-->

<%- include('js') %>

</body>
</html>
