<!doctype html>
<html lang="en">
<head>
<%- include('head')%>
  
</head>
<!-- Inico-->
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Cargando...</span>
    </div>
  </div>

  <div class="site-wrap"  id="home-section">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

<!--NAV-->
<%- include('header')%>

<!--NAV-->



<!-- Social introducción-->
    <div class="site-section block-13" id="testimonials-section" data-aos="fade">
      <div class="container">
       <div class="row mb-5 justify-content-center">
         <div class="col-md-9 text-center">
           <div class="block-heading-1" data-aos="fade-up" data-aos-delay="100">
             <div class="text-center mb-5">
               <div class="block-heading-1">
                <h2>Social</h2>
                <p>Desde esta área pretendemos brindar soluciones y acompañar a las problemáticas que puedan estar
                   atravesando lxs entrenadorxs.</p>
              </div>
             </div>
            </div>
           </div>
          </div>
<!-- Social introducción-->

<!-- Mercado pago link-->
          <div class="container">
            <div class="row">
              <div class="col-sm mt-1 mb-5" data-aos="fade-up">
                <h3 class="text-primary">Para colaborar con lxs entrenadorxs</h3>
                <p>Lxs colegas que están atravesando una situación difícil en esta pandemia necesitan de nuestra ayuda. Nos estamos
                   quedando sin mercadería para completar los bolsones de comida que estamos entregando. Contamos con su colaboración y
                   la difusión de esta información.</p>
                   <p><b class="detalles">Teléfono: </b>221-558-1993 / <b class="detalles">Mail: </b> aplatebatesoreria@gmail.com</p>
              </div>
              <div class="col-sm mt-5 mb-5 text-center" data-aos="fade-up">
                <p>Para más información click en:</p>
                <a title="APLATEBA SOCIAL" href="https://www.instagram.com/p/CHIsvfHn_Hd/"><img src="images\mercado-pago.png" alt="MercadoPago" width="250"></a>
              </div>
              </div>
             </div>
<!-- Mercado pago link-->

        <div class="owl-carousel nonloop-block-13">
          <div>
            <div class="block-testimony-1 text-center">
              <blockquote class="mb-4">
                <p>&ldquo;Noticias relevantes sobre entrenadores locales&rdquo;</p>
              </blockquote>
              <figure>
                <img src="images\logo-blanco-01.png" alt="Image" class="img-fluid rounded-circle mx-auto">
              </figure>
            </div>
          </div>

            <div class="block-testimony-1 text-center">
              <figure>
                <img src="images\logo-blanco-01.png" alt="Image" class="img-fluid rounded-circle mx-auto">
              </figure>
              <h3 class="font-size-20 mb-4 text-black">APLATEBA SOCIAL</h3>
              <blockquote class="mb-4">
                <p>&ldquo;Noticias relevantes sobre entrenadorxs locales.&rdquo;</p>
              </blockquote>
            </div>

          <div>
            <div class="block-testimony-1 text-center">
              <blockquote class="mb-4">
                <p>&ldquo;Noticias relevantes sobre entrenadorxs locales.&rdquo;</p>
              </blockquote>
              <figure>
                <img src="images\logo-blanco-01.png" alt="Image" class="img-fluid rounded-circle mx-auto">
              </figure>
            </div>
          </div>

          <div>
            <div class="block-testimony-1 text-center">
              <figure>
                <img src="images\logo-blanco-01.png" alt="Image" class="img-fluid rounded-circle mx-auto">
              </figure>
              <h3 class="font-size-20 mb-4 text-black">APLATEBA SOCIAL</h3>
              <blockquote class="mb-4">
                <p>&ldquo;Noticias relevantes sobre entrenadorxs locales&rdquo;</p>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- Social-->

<!-- Contacto y Asociate-->
<%- include('contacto')%>

<!-- Contacto y Asociate-->

<!-- Footer-->
<%- include('footer')%>

<!-- Footer-->

<%- include('js')%>


</body>
</html>
